    @model Projekt.ViewModels.ShopItemsModel
    
    <ul class="item_list">
            @foreach(var item in Model.ItemList)
            {
                <li>
                    @item.productName
                </li>
            }
    

    </ul>

