
@{
    ViewBag.Title = "List";
}
    <div class="categoryListBlock">
        @Html.Action("categoryMenu")
            <div class="itemsListBlock">
                @Html.Partial("_itemsList")
            </div>
    
    </div>



