.menu-bar {
  width: 100%;
  height: 10%;
  display: inline-flex;
  justify-content: space-between;
  background-color: dimgray; }

.manageLink {
  text-decoration: none;
  color: white;
  font-size: 30px; }
